{% extends "base.html" %}

{% block content %}

	<header>
		{% include "link_form.html" %}
	</header>

	<div class="board-wrapper">

		{% include "board_form.html" %}

		<ul>
		{% for board in boards %}
			<li>{{ board.name }}
				<ul>
				{% for link in board.links %}
					<li>{{ link }}</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>

	</div>

	<div class="pinboard-wrapper">

		<section class="pinboard">
		
			<div class="pin-col">

				{% for panel in panels %}

					<div class="pin">
						
						{% if panel.thumbnail_url %}
							<a href="{{ panel.url }}">
								<img src="{{ panel.thumbnail_url }}">
							</a>
						{% endif %}

						<p>{{ panel.description }}</p>
						<div class="sub-pin">
							<p><a href="{{ panel.url }}">{{ panel.title }}</a> by <a href="{{ panel.provider_url }}">{{ panel.provider_name }}</a></p>
						</div>
					</div>

				{% endfor %}

			</div>

		</section>

	</div>

{% endblock %}